[receive]
	requireContributorAgreement = true
[submit]
	action = merge always
	mergeContent = true
[access "refs/heads/*"]
	label-Verified = -1..+0 group Android Maintainers
	label-Code-Review = -2..+2 group Android Maintainers
[access "refs/heads/master"]
	label-Verified = -1..+1 group Android Maintainers
	submit = group Android Maintainers
[project]
	state = active
[access]
	inheritFrom = Platform-Unrestricted-Projects
